@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --black: #000000;
    --grey: #85888C;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--black);
    position: sticky;
    top: 0;
    padding-top: 1rem;
    width: 100%;
    height: 120px;
    z-index: 2;
}

/* Logo */
.logo{
    position: absolute;
    left: 5%;
    width: 250px;
    height: 70px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
}

.menu a{
    font-size: 1.3rem;
    display: block;
    padding: 30px;
    color: var(--white);
}

.menu a:hover{
    background-color: var(--grey);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    z-index: 1;
}

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */

@media (min-width: 990px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--grey);  
    }
    
    .hamb{
        display: none;
    }
}



/*////////////////////////// Margem //////////////////////////////*/
.margem-lado{
    margin-left: 10%;
    margin-right: 10%;
}
.margem-baixo{
    margin-bottom: 65px;
}
.centro{
    text-align: center;
}
.itensCentro{
    float: center;
    align-items: center;
    padding-left: 30px;
}
/* Texto base */
.texto{
    color: var(--white);
    text-align: justify;
    font-size: 1.3rem;
}
.textoPequeno{
    color: var(--white);
    text-align: justify;
    font-size: 1rem;
}
/* imagem fundo mapa */

.fundo-imagem{
    background-image: url("images/SALE1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-container-logos {
    display: grid;
    grid-template-columns: auto;
}
.grid-container-patrocinadores {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid-container-patrocinadores .grid-item{
    margin: 5%;
}
.grid-item {
    text-align: center;
}

.responsiveBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding:20px;
}
.responsiveItem{
    width: 250px;
    height: 250px;
}

.responsiveItemCode{
    width: 250px;
    height: 250px;
}

.responsiveItem3{
    width: 250px;
    height: 150px;
}

.responsiveItem a{
    text-decoration: none;
    color: var(--white);
}

.branco{
    text-decoration: none;
    color: var(--white);
}

#qrcode{
    width: 90%;
    height: 90%;
    background-color: #ffff;
    padding: 10px;
    border-radius:10%;
}

/* responsividade de icones de logos e pessoas */

.respBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;
    padding:20px;
}
.respItemLogo{
    width: 250px;
    height: 100px;
}